<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ escape(handler.settings["title"]) }}</title>
    <script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.bgiframe.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.ajaxQueue.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.caret.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/thickbox-compressed.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.autocomplete.skeytla.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/skeytla.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.autocomplete.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/thickbox.css") }}" />
    {% block head %}{% end %}
  </head>
  <body>
    <h1>{{ escape(handler.settings["title"]) }}</h1>
    {% block body %}{% end %}
  </body>
</html>