{% extends "base.html" %}

{% block head %}

  <style type="text/css" media="screen">
    #bubble {
      position: absolute;
      display: none;
    }
  </style>
  <script type="text/javascript">
  $().ready(function() {
	  
    $("#skeytla").autocomplete('/rim', {
      skeytla: true,
      multipleSeparator: / |\n/,
      max: 100
    }).focus();
    
  });
  </script>

{% end %}

{% block body %}
  <div id="skeytla-container">
    <form autocomplete="off">
      <span class="w">
        <textarea rows="10" cols="40" id="skeytla" class="skeytla-input"></textarea>
      </span>
    </form>
  </div>
  <div id="front-page-intro">
    <h1><span style="color: #717400;">Skeytl</span><span style="color: #BE2805;">@</span></h1>
    <p>Skeytavélin finnur <strong>@forskeyti</strong> eða <strong>viðskeyti@</strong> ef ritað er
      <ul>
        <li>@<strong>upphaf</strong></li>
        <li><strong>endir</strong>@</li>
        <li>eða bæði @<strong>upphaf</strong>@<strong>endir</strong>@
      </ul>
    </p>
  </div>
  
  <table id="bubble" class="popup">
        <tbody><tr>
                <td id="topleft" class="corner-left"></td>
                <td class="top"></td>
                <td id="topright" class="corner-right"></td>
        </tr>

        <tr>
                <td class="left"><img width="17" height="30" alt="popup tail" src="{{ static_url("img/stem_bubble_tail.png") }}"/></td>
                <td class="contents">
                  <div id="popup-contents">
                  </div>
                </td>
                <td class="right"></td>    
        </tr>

        <tr>
                <td class="corner-left" id="bottomleft"></td>
                <td class="bottom"></td>
                <td id="bottomright" class="corner-right"></td>
        </tr>
     </tbody>
   </table>
  
  
{% end %}